<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the My eStore!</h1>
      </div>

      <p class="d-flex justify-content-center ">This is my bacholrs program's final project created under guidence of Prof. Allameh</p>
      <p class="d-flex justify-content-center ">I've Used Angular 11 on the frontend and .Net Core 5 for the Backend server application</p>
      <p class="d-flex justify-content-center ">I've Also used several patterns from the Domain Driven Design methodolgy check them out in the backend project</p>
      <p class="d-flex justify-content-center ">Thank you for spending time checking out my work!</p>
</section>
